.sectionSobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleSobre {
  width: 100%;
  background-color: #1d0e26;
  padding: 3rem;
  color: #fff;
  font-family: "Ubuntu", serif;
  font-size: 1.5rem;
  text-align: center;
}

.sectionCard {
  width: 100%;

  background-image: url("../../assets/backgroundSobre.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  background-color: #f0bcb8;
  margin: 0rem 1rem 0rem 1rem;
  border-radius: 5px;
  width: 25%;
  height: 45vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Ubuntu", serif;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cards h2 {
  color: #d4af37;
  font-size: 1.8rem;
  margin: 1rem 0rem 1rem 0rem;
}

.cards p {
  width: 70%;
  color: #1d0e26;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .titleSobre {
    font-size: 1.3rem;
  }

  .sectionCard {
    flex-direction: column;
  }

  .cards {
    width: 90%;
    margin: 1.3rem 0rem 1.3rem 0rem;
  }
}
