.container {
  background-color: #fdcbca;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  text-align: center;
  width: 84%;
  color: #fff;
  font-family: "Ubuntu", serif;
  font-size: 1.5rem;
  border-top: 0.5px solid #d4af37;
  padding: 1rem 0rem 1rem 0rem;
}

.boxRight {
  background-color: #080808;
}

.boxLeft {
  background-color: #251230;
}

.boxRight,
.boxLeft {
  font-family: "Ubuntu", serif;
  border-radius: 0.3rem;
  margin: 1rem 0rem 1rem 0rem;
  width: 99%;
  height: 70vh; /* Agora ambas têm a mesma altura */
  display: flex;
  justify-content: center;
  align-items: center;
}

.descRight,
.descLeft {
  border-radius: 0.3rem;
  width: 49%;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.descRight h2,
.descLeft h2 {
  font-size: 2rem;
}

.descRight p,
.descLeft p {
  font-size: 1.2rem;
  margin: 1.2rem 0rem 1.2rem 0rem;
  text-align: justify;
}

.descRight span,
.descLeft span {
  color: #d4af37;
  font-weight: bold;
}

.imgRight,
.imgLeft {
  width: 50%;
  height: 100%; /* Agora ambas ocupam todo o espaço da box */
  overflow: hidden;
}

.imgRight img,
.imgLeft img {
  border-radius: 0.3rem;
  width: 100%;
  height: 100%; /* Agora as imagens se ajustam corretamente */
  object-fit: cover;
  object-position: left bottom;
  transform: scale(1);
}

@media (max-width: 768px) {
  .container h1 {
    width: 91%;
  }
  .boxRight,
  .boxLeft {
    flex-direction: column;
    height: 100%;
  }

  .descRight,
  .descLeft {
    width: 95%;
    margin: 0.7rem 0rem 0.7rem 0rem;
  }

  .descRight h2,
  .descLeft h2 {
    font-size: 1.5rem;
  }

  .descRight p,
  .descLeft p {
    font-size: 1.1rem;
    width: 95%;
  }

  .imgRight,
  .imgLeft {
    width: 95%;
    height: 100%;
  }

  .imgRight img,
  .imgLeft img {
    height: 18rem;
  }
}
